:root{
  --text-color: #3f3f3f;
  --heading-color: #08605F;
  --outline-color: #598381;
  --button-color: #177E89;
  --list-item-color: lavender;
  --done: green;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body{
  font-family: 'poppins', 'sans-serif';
  color: var(--text-color);
   font-size: 1em;
  line-height: 1.4;
}

h1 {
	color: var(--heading-color);
	text-transform: uppercase;
	font-weight: 500;
  font-family: 'Lilita One', cursive;
}

p {
	font-weight: normal;
  font-size: 0.8em;
  display: block;
  padding: 0.2em;
  margin: 0.4em;
}

.fa-solid{
  font-size: 1em;
  color: var(--outline-color);
}

.container {
  width: 100%;
  height: 100vh;
	text-align: center;
}

.info{
  display: block;
  overflow: hidden;
  margin: 0.5em;
  padding: 0.5em;
}

.input-section{
  @extend .info;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

#input {
	border: 0.1em solid var(--outline-color);
  border-radius: 20px;
	min-width: 65%;
  height: 3em;
	padding: 2em;
  margin-right: 0.3em;
  font-size: 0.8em;
}

#input:focus{
  outline: none;
  box-shadow: 0 0 0.1em var(--outline-color);
}

#btn {
	display: inline-block;
  border: none;
	border-radius: 20px;
	color: white;
  padding: 0 2em;
  height: 4em;
  min-width: 15%;
  font-size: 0.8em;
	background-color: var(--button-color);
}


.task-list{
  @extend .info;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
  height: auto;
}

#to-do {
	text-align: left;
	list-style: none;
  width: 75%;
}

li {
	height: auto;
	padding: 0.8em;
  margin-bottom: 0.8em;
	color: var(--text-color);
	text-transform: capitalize;
	font-weight: 400;
	border-bottom: 0.1em solid var(--outline-color);
	/*border-radius: 20px;*/
	/*background-color: var(--list-item-color);*/
}

li:hover {
  cursor: pointer;
}

li > button {
	border: none;
  font-size: 1em;
  background: none;
	float: right;
	color: var(--text-color);
}

.delete {
	display: none;
}
.done{
  text-decoration: line-through;
  color: #d3d3d3;
  border-bottom: none;
}
